In [6]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import requests
plt.style.use('dark_background')

import sys
sys.path.append('/Users/markwindsor/Desktop/atlas_trade')
from src.utils.technical_indicators import *

In [7]:


url = "https://91j3dag4m9.execute-api.us-east-1.amazonaws.com/master/getCMCPriceHistory/2?startDate=2017-01-01"
response = requests.get(url)
data = response.json()
table = []
for entry in data["priceHistory"]:
    table.append([
        entry["o"],
        entry["h"],
        entry["l"],
        entry["c"],
        entry["v"],
        entry["mcap"]
    ])

# Create a DataFrame from the extracted data
columns = ["open", "high", "low", "close", "volume", "marketCap"]
df = pd.DataFrame(table, columns=columns)
df

           open       high        low      close        volume     marketCap
0      4.329120   4.521530   4.328710   4.511590  1.133750e+07  2.217183e+08
1      4.520450   4.737660   4.484660   4.648940  1.459530e+07  2.285364e+08
2      4.655880   4.731840   4.564870   4.626200  1.005570e+07  2.274839e+08
3      4.633750   4.837850   4.633750   4.837850  1.376240e+07  2.379665e+08
4      4.914370   4.945860   4.226870   4.292720  1.919600e+07  2.112123e+08
...         ...        ...        ...        ...           ...           ...
2421  64.085136  64.895278  63.734344  64.103866  2.996933e+08  4.715449e+09
2422  64.107917  65.723624  64.073635  65.252512  2.467342e+08  4.800182e+09
2423  65.251505  67.046449  64.978059  66.958690  4.311138e+08  4.925925e+09
2424  66.958953  67.105316  63.279003  64.770286  3.775746e+08  4.765174e+09
2425  64.773699  66.593549  64.168028  65.610778  3.048867e+08  4.827238e+09

[2426 rows x 6 columns]

In [8]:
df["simple_returns"] = (df.close - df.close.shift(1)) / df.close.shift(1)
df["log_returns"] = np.log(df.close / df.close.shift(1))
# Calculate cumulative log returns
df["cumulative_log_returns"] = df["log_returns"].cumsum()
df

,open,high,low,close,volume,marketCap,simple_returns,log_returns,cumulative_log_returns
0,4.329120,4.521530,4.328710,4.511590,1.133750e+07,2.217183e+08,NaN,NaN,NaN
1,4.520450,4.737660,4.484660,4.648940,1.459530e+07,2.285364e+08,0.030444,0.029990,0.029990
2,4.655880,4.731840,4.564870,4.626200,1.005570e+07,2.274839e+08,-0.004891,-0.004903,0.025086
3,4.633750,4.837850,4.633750,4.837850,1.376240e+07,2.379665e+08,0.045750,0.044735,0.069821
4,4.914370,4.945860,4.226870,4.292720,1.919600e+07,2.112123e+08,-0.112680,-0.119550,-0.049729
...,...,...,...,...,...,...,...,...,...
2421,64.085136,64.895278,63.734344,64.103866,2.996933e+08,4.715449e+09,0.000327,0.000327,2.653855
2422,64.107917,65.723624,64.073635,65.252512,2.467342e+08,4.800182e+09,0.017919,0.017760,2.671615
2423,65.251505,67.046449,64.978059,66.958690,4.311138e+08,4.925925e+09,0.026147,0.025811,2.697426
2424,66.958953,67.105316,63.279003,64.770286,3.775746e+08,4.765174e+09,-0.032683,-0.033229,2.664197
2425,64.773699,66.593549,64.168028,65.610778,3.048867e+08,4.827238e+09,0.012977,0.012893,2.677090

In [9]:
df = average_true_range(df)
df = macd(df)
df = relative_strength_index(df)
df = average_directional_index(df)
df = stochastic_oscillator(df)
df = bollinger_bands(df)
df

,open,high,low,close,volume,marketCap,simple_returns,log_returns,cumulative_log_returns,H-L,...,+di,-di,dx,adx,%K,%D,rolling_mean,rolling_std,upper_band,lower_band
0,4.329120,4.521530,4.328710,4.511590,1.133750e+07,2.217183e+08,NaN,NaN,NaN,0.192820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.520450,4.737660,4.484660,4.648940,1.459530e+07,2.285364e+08,0.030444,0.029990,0.029990,0.253000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.655880,4.731840,4.564870,4.626200,1.005570e+07,2.274839e+08,-0.004891,-0.004903,0.025086,0.166970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.633750,4.837850,4.633750,4.837850,1.376240e+07,2.379665e+08,0.045750,0.044735,0.069821,0.204100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.914370,4.945860,4.226870,4.292720,1.919600e+07,2.112123e+08,-0.112680,-0.119550,-0.049729,0.718990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2421,64.085136,64.895278,63.734344,64.103866,2.996933e+08,4.715449e+09,0.000327,0.000327,2.653855,1.160933,...,8.546736,166.182355,90.217157,63.582512,10.052762,11.424303,80.765242,8.114722,96.994686,64.535799
2422,64.107917,65.723624,64.073635,65.252512,2.467342e+08,4.800182e+09,0.017919,0.017760,2.671615,1.649988,...,11.905446,101.335891,78.973321,65.634620,14.971099,11.662307,79.415712,8.346457,96.108626,62.722797
2423,65.251505,67.046449,64.978059,66.958690,4.311138e+08,4.925925e+09,0.026147,0.025811,2.697426,2.068390,...,16.758124,70.058996,61.394426,65.069261,22.276710,15.766857,78.072626,8.062938,94.198501,61.946751
2424,66.958953,67.105316,63.279003,64.770286,3.775746e+08,4.765174e+09,-0.032683,-0.033229,2.664197,3.826313,...,7.851079,38.742816,66.299966,65.233355,13.295107,16.847639,76.936687,8.264331,93.465348,60.408026
2425,64.773699,66.593549,64.168028,65.610778,3.048867e+08,4.827238e+09,0.012977,0.012893,2.677090,2.425521,...,7.920648,52.968635,73.983443,66.400033,17.114588,17.562135,76.081836,8.516360,93.114555,59.049117

In [10]:
# Write the DataFrame to a CSV file
csv_filename = "output.csv"  # Specify the desired CSV filename
df.to_csv(csv_filename, index=True)