# Sharadar Equities Bundle Explorer

Exploring Sharadar Equities Bundle Data. Tables include

- SF1:
- SF2:
- SF3:
- SF3A:
- SF3B:
- EVENTS
- SEP
- TICKERS
- INDICATORS
- DAILY
- SP500
- ACTIONS
- SFP
- METRICS

In [2]:
import pandas as pd
import nasdaqdatalink
import numpy as np

NASDAQ_KEY = "zxLNKQydu_qNXQ2tZ7vz"

nasdaqdatalink.ApiConfig.api_key = NASDAQ_KEY

In [3]:
market_cap = nasdaqdatalink.get_table('SHARADAR/SF1', dimension="MRT", qopts={"columns":['calendardate' ,'marketcap']}, ticker="AAPL")
market_cap

     calendardate     marketcap
None
0      2023-09-30  2.676737e+12
1      2023-06-30  3.050896e+12
2      2023-03-31  2.609039e+12
3      2022-12-31  2.066942e+12
4      2022-09-30  2.417523e+12
...           ...           ...
119    1993-12-31  3.430530e+09
120    1993-09-30           NaN
121    1993-06-30           NaN
122    1992-12-31           NaN
123    1992-09-30           NaN

[124 rows x 2 columns]